include ../partials/header.pug

section.collection-intro-wrapper
  div.collection-intro-display
    img(src="http://www.hessclassic.com/app/uploads/2016/03/hessclassic-PORSCHE_356.png?82f50c")
    li
      h1 1954
    li
      p PORSCHE 356 PRÉ-A 1600 SPEEDSTER
    div.collection-slide-icon
      i(class="fa fa-angle-down" aria-hidden="true")
      i(class="fa fa-angle-down" aria-hidden="true")

section.collection-about-wrapper
  div.collection-about-display
    div.collection-about-bimg
    div.about-info
      h2 1954 PORSCHE 356
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      p Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      figure
        img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-6.jpg?82f50c")

section.collection-spec-wrapper
  div.collection-spec-display
    div.spec-col-info
      h2 PORSCHE 356 Specs
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      h2 Critical Designs
      ul
        li Ipsum dolor sit amet
        li Consectetur adipisicing elit
        li Sed do eiusmod tempor
    div.spec-col-img
      img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-bg-4.jpg")
      img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-5.jpg?82f50c")

section.collection-history-wrapper
  div.collection-history-display
    figure.history-layout-top
      div
        h1 DOCUMENTS & HISTORY
      img(src="https://images.unsplash.com/photo-1433840688634-c05a545c2594?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f56174e4a97406c8a50a06edc2876b76")
    div.history-layout-bottom
      div.history-one.col
        img(src="http://1.bp.blogspot.com/-dP7fOD9ZDXg/UJuamwLA1KI/AAAAAAAAS3I/Ir7c2pAnV8A/s1600/James-Dean-Porsche-356-Speedster.jpg")
        img(src="http://4.bp.blogspot.com/-ag9IaRI80z0/UJuYHqrw_lI/AAAAAAAAS20/FOWAsTXNRTA/s1600/James-Dean-Porsche.jpg")
      div.history-two.col
        h2 Timeless Value
        p James Dean rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ipsum dolor sit amet rem ipsum dolor sit amet.

section.collection-carousel-wrapper
    div.collection-carousel-display
      h1 VIEW MORE CLASSICS
      ul
        li
          img(src="http://www.hessclassic.com/app/uploads/2016/03/hessclassic-ferrari_detoure.png?82f50c")
          p Porsche 356
        li
          img(src="http://www.hessclassic.com/app/uploads/2016/03/hessclassic-slider-bentley.png?82f50c")
          p Porsche 356
        li
          img(src="http://www.hessclassic.com/app/uploads/2016/04/hessclassic-LAMBORGHINI_detouree.png?82f50c")
          p Porsche 356


include ../partials/footer.pug
