include ../partials/header.pug
section.collection-intro-wrapper
  div.collection-intro-display
    img(src="http://www.hessclassic.com/app/uploads/2016/03/hessclassic-PORSCHE_356.png?82f50c")
    h1 1954

include ../partials/footer.pug
