include ../partials/header.pug

section.collection-intro-wrapper
  div.collection-intro-display
    img(src="http://www.hessclassic.com/app/uploads/2016/03/hessclassic-PORSCHE_356.png?82f50c")
    h1 1954
    p PORSCHE 356 PRÉ-A 1600 SPEEDSTER
    div.collection-slide-icon
      i(class="fa fa-angle-down" aria-hidden="true")
      i(class="fa fa-angle-down" aria-hidden="true")

section.collection-about-wrapper
  div.collection-about-display
    div.collection-about-bimg
    div.about-info
      h2 1954 PORSCHE 356
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      p Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      figure
        img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-6.jpg?82f50c")

section.collection-spec-wrapper
  div.collection-spec-display
    div.spec-col-info
      h2 PORSCHE 356 Specs
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      h2 Critical Designs
      ul
        li Ipsum dolor sit amet
        li Consectetur adipisicing elit
        li Sed do eiusmod tempor
    div.spec-col-img
      img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-5.jpg?82f50c")
      img(src="http://www.hessclassic.com/app/uploads/2016/04/tmp-porsche-5.jpg?82f50c")

include ../partials/footer.pug
