doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="/css/main.css")
    title Porche Collection
  body
    section.nav-wrapper
      div.nav-display
        h1 Hello World!
        h1 Okay, let's get started.
